.nav {
    grid-area: n;
    background-color: rgb(244 244 244);
    min-height: 87vh;
    border-radius: 5px;
}
.nav__list {
    margin: 30px;
    padding: 30px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}
.nav__list li {
    margin-bottom: 13px;
    list-style-type: none;
}
.nav__list li:last-child {
    margin-bottom: 0px;
}
.nav__list li a {
    padding: 0px 3px;
    font-weight: 600;
    font-family: sans-serif;
    transition: 0.3s;
    text-decoration: none;
    color: darkslategray;
    border: 2px solid transparent;
    border-radius: 3px;
}
.nav__list li a:hover {
    color: #000;
    /* border-bottom: 2px solid rgb(243, 75, 24); */
    background-color: #ffe5ad;
}

.nav__list li :global(a.active) {
    color: rgb(243, 75, 24);
    /* border-bottom: 2px solid transparent; */
    background-color: #fff;
    cursor: auto;
}
