.dialog {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.dialog li {
    padding-bottom: 10px;
}

.dialog li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.dialog li a span {
    font-weight: 600;
    border-radius: 3px;
    font-family: sans-serif;
    transition: 0.3s;
}

/* .dialog li a span:hover {
    background-color: #ffe5ad;
} */

.dialog li :global(a.active) {
    color: rgb(118, 165, 7);
    cursor: auto;
    background-color: #fff;
}

.user__avatar {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    object-fit: cover;
    object-position: center;
    border-radius: 6px;
}
