.container {
    display: flex;
    align-items: center;
    margin: 20px 0px;
    padding: 10px;
    background-color: rgb(242, 255, 200);
    border: 1px solid rgb(238, 255, 183);
    border-radius: 3px;
}

.avatar {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    object-fit: cover;
    object-position: center;
    border-radius: 6px;
}

.post__wrapper {
    display: flex;
    flex-direction: column;
    white-space: pre-line;
    overflow: auto;
    word-break: break-all;
}

.message {
    max-width: 1000px;
    padding: 10px;
    background: rgb(244 244 244);
    border: 1px solid rgba(154, 163, 163, 0.322);
    border-radius: 3px;
}
