.container {
    display: grid;
    max-width: 1400px;
    margin: auto;
    grid-template-areas:
        'h h h h h h h h h h'
        'n m m m m m m m m m'
        'f f f f f f f f f f';
    gap: 5px;
}

.main {
    grid-area: m;
    background-color: rgb(253, 255, 250);
    border-radius: 5px;
}
